<div class="container">
  <div class="row">
    <div class="col pt-5">
      <p>名前:<%= @user.name %></p>
      <p>eーメール:<%= @user.email %></p>
      <p>作成日:<%= @user.created_at.strftime('%Y/%m/%d') %></p>
      <p>更新日:<%= @user.updated_at.strftime('%Y/%m/%d') %></p>
    </div>
  </div>
</div>