<div class="main-container">
  <div class = "row">
    <div class = "col ">
      <div class = "text-center">
      <h1 class = "top-text">温旅へようこそ！</h1>
      <p class = "top-text">温旅とは温泉と旅館2つのレビューができるサイトです</p>
    </div>
  </div>
</div>
