@use '~bootstrap/scss/bootstrap';

header{
    width: 100%;
}



.link
{
   color: rgba(0, 0, 0, 0.8) !important;
}

.rogo  .top-text{
    font-family:"Yu Mincho";
}



.main-container{
    margin:0;
    padding:0;
}

body {
    background-color:#F0F0F0;
    letter-apacing: 0.1rem;
}


.padding-top100 {
    padding-top:100px;
}